/* styles.css */
* {
  box-sizing: border-box;
}


body {
  background-color: rgb(77, 108, 186);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 0 0 0 45px;
}

.comment {
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
}

img {
  margin: 0 0 0 8%;
}

.comment p {
  align-self: flex-end;
  padding-right: 10px;
}
